# Java build output
/target/

# Eclipse
.classpath
.project
.settings/

# IntelliJ IDEA
.idea/
*.iml

# macOS Finder
.DS_Store
.vscode/
dependency-reduced-pom.xml

# Logs
# *.log
config.json
# Temporary files
*.tmp
*.bak
*.swp